.zcwPopup-bg {
    display: none;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 99991 !important;
    width: 100% !important;
    height: 100% !important;
    background: url(images/underlay.png) repeat 0 0 !important;
    cursor: pointer !important;
    -webkit-filter: blur(1.4px);
    -moz-filter: blur(1.4px);
    -ms-filter: blur(1.4px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='2'/></filter></svg>#blur");
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2);
}

.z-m-w__terms.danger div, .z-m-w__terms.danger span {
    color: #fff;
}

.z-m-w__terms.danger {
    background-color: red;
}

.zcwPopup {
display: none;
text-align: center;
position: fixed;
left: 50%;
top: 50%;
z-index: 99992 !important;
width: 280px!important;
margin: -80px 0 0 -140px;
height: auto !important;
padding: 10px !important;
border-radius: 4px !important;
-webkit-box-shadow: 0 0 12px #cecece !important;
-moz-box-shadow: 0 0 12px #cecece !important;
-ms-box-shadow: 0 0 12px #cecece !important;
box-shadow: 0 0 12px #cecece !important;
font-family: 'ProximaNova-Light', sans-serif !important;
font-size: 21px !important;
background-color: white;
-webkit-box-sizing: content-box !important;
-moz-box-sizing: content-box !important;
box-sizing: content-box !important;
opacity: 0.9;
color: black;
}

.zcwPopup-title,
.zcwPopup-description,
.zcwPopup-content {
color: black;
}

.zcwPopup-title {
text-align: center;
}

#zcwPopup-raty {
    padding-left: 10px;
}

#zcwPopup-raty img {
display: inline !important;
}

.zcwPopup-close {
    z-index: 99992 !important;
    cursor: pointer !important;
    text-decoration: none;
    color: grey;
    position: absolute;
    top: 10px;
    right: 10px;
}

.zcwPopup-content {
font-size: 14px;
}

.zcwPopup-countdown {
font-weight: bold;
display: none;
}

.zcwPopup .link {
text-decoration: underline;
cursor: pointer;
}

.zcwPopup .powered_by {
margin-top: 7px;
font-size: 12px;
color: #777777 !important;
}

.zcwPopup .powered_by a {
font-weight: bold !important;
color: #777777 !important;
text-decoration: underline !important;
}

.zcwPopup button,
.zcwPopup input,
.zcwPopup select,
.zcwPopup textarea {
margin: 0;
width: auto !important;
color: black;
border: solid 1px #999999;
border-radius: 2px;
display: inline !important;
}

@supports (-webkit-overflow-scrolling: touch) {
   .zcwPopup input {
     font-size: 16px;
   }
}

.zcwPopup button {
margin-top:5px;
}

.zcwPopup input.zcwInputError,
.zcwPopup select.zcwInputError,
.zcwPopup textarea.zcwInputError {
border: 1px solid red;
}

#zcwMiniButton {
position:fixed;
left: 100px;bottom: 100px;width:70px;
height:70px;
cursor:pointer;
opacity:0.5;
z-index:99990;
}

#zcwMiniButton #zcwMiniButtonMain {
-moz-border-radius:50% !important;
-webkit-border-radius:50% !important;
border-radius:50% !important;
-moz-background-clip:padding;
-webkit-background-clip:padding-box;
background-clip:padding-box;
background-color:rgb(42,107,181);
width:70px;
height:70px;
    box-shadow: 0 0 8px 6px rgba(0,0,0, 1), 0 0 12px 10px rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0, 1);
}

#zcwMiniButton #zcwMiniButtonMain:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
top:0;
left:0;
background-image:url(images/mini.png);
background-repeat:no-repeat;
background-position:center center;
}

#zcwMiniButton:hover {
opacity:0.8;
}


@media only screen and (min-width: 960px) {
  .zcwPopup {
    width: 550px !important;
    margin: -120px 0 0 -275px;
  }
}
@media (max-width: 460px) {
  .zcwPopup{
    width: calc(100% - 40px) !important;
    margin: 0px 10px 0 10px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%)
  }
  .zcwPopup-content{
    font-size: 16px !important;
  }
  .zcwPopup-title{
    margin-top: 25px;
    padding: 0 20px;
  }
  #zcwMiniButton {
    width: 45px;
    height: 45px;
    left: 30px; bottom: 30px;  }
  #zcwMiniButton > #zcwMiniButtonMain{
    width: 45px;
    height: 45px;
  }
  #zcwMiniButtonMain:before{
    background-size: 25% 50%;
  }
}
